{% load static %}
<!DOCTYPE html>
<html>
    <head>
           <title>Medbuy</title>
           <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
           <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
           <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <script type="text/javascript">
    var user='{{request.user}}'

    function getToken(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              var cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }
    var csrftoken = getToken('csrftoken');

    function getCookie(name){
      //split cookie string and get all individual value=name pairs in an array
      var cookieArr = document.cookie.split(";");
      //loop through every element
      for(var i = 0; i < cookieArr.length ; i++){
        var cookiePair = cookieArr[i].split("=");

        //removing whitespace from beging of cookie and compare it with given string
        if(name == cookiePair[0].trim()){
          return decodeURIComponent(cookiePair[1]);
        }

      }
      //return null if not found
      return null;
    }

    var cart = JSON.parse(getCookie('cart'))
    if(cart == undefined){
      cart = {}
      console.log('Cart was created!',cart)
      document.cookie = 'cart=' + JSON.stringify(cart)  + ";domain=;path=/"
    }

    console.log('Cart:',cart)


  </script>
     </head>
     <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">MedBuy</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'store' %}">Store <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active" id="orders">
                    <a class="nav-link" href="{% url 'orders' %}">Orders <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                    <form method="POST" action="{% url 'search' %}" class="d-flex">
                      {% csrf_token %}
                      <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-warning" type="submit">Search</button>
                    </form>
                  </li>
             
                </ul>
                <div class="form-inline my-2 my-lg-0">
                  <div id="login">
                     <a href="{% url 'login' %}"class="btn btn-warning" >Login</a>
                    </div>   
                     <a href="{% url 'cart' %}">
                        <img  id="cart-icon" src="{% static 'images/cart.png '%}">
                    </a>
                    <p id="cart-total">{{cartItems}}</p>
                    </div>
            </div>
          </nav>
         <div class="container">
                <br>
                {% block content %}


                 {% endblock content %}
         </div>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
        </script>
        <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
        <script type="text/javascript">
          if(user != 'AnonymousUser'){
        document.getElementById('login').innerHTML='<form action="{% url 'log_out' %}" method="POST" >{%csrf_token%}<button type="submit" value="logout" class="btn btn-warning">Logout</button></form>'
    }
          if(user=='AnonymousUser'){
            document.getElementById('orders').innerHTML=''
          }
          var user='{{request.user}}'
        </script>
     </body>
</html>
